<h1>Record List</h1>

<table class="responsive-table">
  <thead>
    <tr>
      <th>Artist Name</th>
      <th>Album Title</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
    <tr>
      <td><%= record.title %></td>
      <td><%= record.title %></td>
      <td><%= record.complete ? 'Colored' : 'Not Colored' %></td>
      <td><a href="/records/<%= record.id %>">View</a></td>
      <td><a href="/records/<%= record.id %>/edit">Edit</a></td>
      <td>
        <form action="/record/<%= record.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="delete" class="btn-small light-blue">
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
